.list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.item {
  padding: 10px;
  background: #252b33;
  transition: background .3s ease-out;
}

.link {
  text-decoration: none;
}

.highlight {
  background: #f36;
  transition: background .2s ease-in;
  padding: 10px;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.name {
  padding-left: 0.5rem;
  color: white;
}
.nameWhite {
  padding-left: 0.5rem;
  color: #252b33;
  transition: color .2s ease;
}
